body{
    background-color: #3015c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: #0e0b3f;
    text-align: center;
    text-decoration: underline;
}
.container{
    background-color: #a2d2e0;
    width: 1200px;
    max-width: 85%;
    margin:auto;
    padding:20px;
    padding-top: 40px;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li.menu {
    float: left;
  }
  li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li.menu a:hover:not(#active) {
    background-color: #111;
  }
  #active {
    background-color: #020020;
  }